
// $color: black;
// $overlaycolor: red;
$redcolor: #e2494c;
$graycolor:#9c9c9c;
$colortext:#F5EDED;
$maincolor:blue;

$float-left: left;
$float-right: right;
$text-right:right;
$text-left:left;
$text-center:center;

$maxmobile: (max-width:767px);
$maxsmall: (max-width: 991px);

$minsmall:(min-width:768px);
$minmedium:(min-width:992px);
$minlarge:(min-width:1200px);
