.continer-contactme .contact-befafter .bar-contact-me {
  margin-left: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: aqua;
}

.continer-contactme .contact-befafter .bar-contact-me .tiltle1 {
  font-size: 50px;
  text-transform: capitalize;
  display: flex;
}

.continer-contactme .contact-befafter .bar-contact-me .tiltle1 span:hover {
  scale: 1.1;
  transition: 0.2s;
  color: red;
  cursor: default;
}

.continer-contactme .contact-befafter .bar-contact-me .title2 {
  text-transform: capitalize;
  display: flex;
  font-size: 50px;
}

.continer-contactme .contact-befafter .bar-contact-me .title2 span:hover {
  scale: 1.1;
  transition: 0.2s;
  color: red;
  cursor: default;
}

.continer-contactme .contact-me {
  margin-left: 20px;
}

.continer-contactme .contact-me .form1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.continer-contactme .contact-me .form1 input {
  padding: 10px;
  border: none;
  width: 25%;
  background-color: #1d2226;
}

.continer-contactme .contact-me .form1 input::placeholder {
  color: aqua;
}

.continer-contactme .contact-me .form2 {
  display: block;
  gap: 10px;
  padding-top: 4px;
}

.continer-contactme .contact-me .form2 textarea {
  color: aqua;
  padding: 10px;
  border: none;
  width: 51%;
  background-color: #1d2226;
}
